@font-face {
    font-family: 'newFont';
    src: url('../fonts/CooperHewitt-Book.otf');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'newFont';
   background-image: url(../images/backg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0px;
height: 100vh;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-password-container{
    
    display: flex;
    background: #ffffff9d;
    border-radius: 12px;
    box-shadow: inset 5px 5px 10px #a9a9aa77,
                 inset -5px -5px 10px #ffffff7e;
}


.card {
   
    
    padding: 10px 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
 
    border-radius: 20px;
    overflow: hidden;
  }
  
  .card > * {
    margin: 0;
  }
  
  .back-btn:hover{
    background-color: #000000;
    transform: translateY(-5px);
  }
  
  .card__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .card__form button {
    margin: 10px 4px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background: #ff0808;
    color: #ffffff;
    transition: 0.4s;
    cursor: pointer;
  }

  
  .card__form input {
    margin: 10px 4px;
    outline: 0;
    background: rgb(255, 255, 255);
    box-shadow: transparent 0px 0px 0px 1px inset;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #333;
    color: black;
  }
  


#send:hover{
    background-color: #000000;
    transform: translateX(5px);
}

  
  .sign-up:hover {
    opacity: 0.8;
  } 
  

.reset_password{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    background: #ffffff9d;
    box-shadow: inset 5px 5px 10px #a9a9aa77,
                 inset -5px -5px 10px #ffffff7e;
}

.reset_password button{
    color: #ffffff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 14px;
    border: none;
    background: #ff0808;
    transition: 0.4s;
    cursor: pointer;
}

.reset_password button:hover{
    background-color: #000000;
    transform: translateX(-5px);
}

.reset_password input{
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #333;
    color: black;
}

